@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

:root{
    --primary-color: #FDBA74;
    --secondary-color:#7C2D12;
    --hover-fade-color:#FFF7ED;
}

body {
    font-family: 'Courgette', cursive;
    font-size: larger;  
    margin: 0;
}

/* header */
.header {
    text-align: center;
    padding: 0.5rem 0rem;
    background-color: var(--primary-color);    
}

/* two-column layout */
.row {
    display: flex;
}

.column {
    flex: 50%;
}

/* image */
.img {
    /* padding: 0.5rem; */
    text-align: center; 
}

/* text input */
.txt-input {
    font: inherit;
    margin: 2rem 0rem;
    width: 70%;
    height: 120px;
    resize: none;
    border: 2px solid yellowgreen;
    border-radius: 0.5rem;
}

.txt-input:focus {
    outline: none;
    border-radius: 0.5rem;
    border-color: red;    
}

/* button */
#trans-button {
    background-color: var(--primary-color);
    font: inherit;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

/* translated output */
#output-div {
    font:inherit;
    margin: 2rem 0rem;
    padding: 2rem;
    width: 70%;
    height: 20px;
    border-radius: 0.5rem;
    border: 2px solid var(--primary-color)
}

/* footer */
.footer {
    background-color: var(--primary-color);
    width: 100%;
    height: 115px;
}

.footer .footer-text {
    font-size: medium;
    text-align: center;
    padding: 0.5rem;
    margin: auto;
    max-width: 600px;
}

/* footer social list */
.list-non-bullet {
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}

.footer i{
    color: var(--secondary-color);
}

.list-item-inline {
    display: inline;
    padding: 0rem 1rem;
}

.footer i:hover {
    color: var(--hover-fade-color);
    transition: all 0.2s ease-in-out;
}