@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

:root{
    --primary-color: #FDBA74;
    --secondary-color:#7C2D12;
    --hover-fade-color:#FFEDD5;
}

body {
    font-family: 'Courgette', cursive;
    font-size: larger; 
    margin: auto; 
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
 }

/* header */
.header {  
    text-align: center;
    background-color: var(--primary-color);
    padding: 1rem;
    font-weight: bolder;
    font-size: 38px;
}

/* two-column layout */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center; 
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    justify-content: center; 
  }

/* image */
img {
    width: 60%;
    height: 100%;  
}

.img {
    display: flex;
    justify-content: center; 
}

/* text input */
.txt-input {
    font: inherit;
    margin: 2rem 0rem;
    width: 70%;
    height: 120px;
    resize: none;
    border: 2px solid yellowgreen;
    border-radius: 0.5rem;
}

.txt-input:focus {
    outline: none;
    border-radius: 0.5rem;
    border-color: var(--secondary-color);    
}

.input-txt {
    display: flex;
} 

/* button */
#trans-button {
    background-color: var(--primary-color);
    font: inherit;
    outline: none;
    border-color: var(--secondary-color);
    border-radius: 0.5rem;
    padding: 0.5rem 0rem;
    max-width: 50%;
    margin: 0.5rem 0rem;
    overflow: auto;
}

#clear-button {
    background-color: var(--primary-color);
    font: inherit;
    outline: none;
    padding: 0.5rem 0rem;
    border-color: var(--secondary-color);
    border-radius: 0.5rem;
    max-width: 50%;
    margin: 1rem 0rem;
    overflow: auto;
}

/* translated output */
#output-div {
    font:inherit;
    margin: 1.5rem 0rem;
    padding: 2rem 0.5rem;
    width: 68%;
    height: 30px;
    border-radius: 0.5rem;
    border: 2px solid var(--primary-color);
    overflow: scroll;
}

.button-container {
    display: flex;
    flex-direction: column;
}

/* footer */
.footer {
    display: flex;
    width: 100%;
    background-color: var(--primary-color);
    margin: 0rem auto;
}

.footer .footer-text {
    font-size: medium;
    text-align: center;
    padding: 1.5rem;
    margin: auto;
    max-width: 600px;
}

/* footer social list */
.list-non-bullet {
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-start: 13px;
    margin-block-end: 0rem;
}

.footer i{
    color: var(--secondary-color);
}

.list-item-inline {
    display: inline;
    padding: 0rem 1rem;
}

.footer i:hover {
    color: var(--hover-fade-color);
    transition: all 0.2s ease-in-out;
}